<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://www.tiltshift.nl/assets/fonts/TILTSHIFT.css" />
    <link rel="stylesheet" type="text/css" href="https://www.tiltshift.nl/css/styles.css" />
</head>

<body class="body--variant-white">
    <main style="margin-top: 90px">{{ content }}</main>
    <footer style="margin-bottom: 90px">
        <center>A MICROTOOL BY <a href="https://www.tiltshift.nl/mensen/johan-groenen">Johan Groenen, Tiltshift</a></center>
    </footer>
</body>

</html>